:markdown
  1. [Install PHP](https://www.php.net/manual/en/install.php) On Debian bookworm you can accomplish this by sudo apt-get install php8.2-common php-common
  2. [Install composer](https://getcomposer.org/doc/00-intro.md) the package handler for php. Sudo apt-get install composer.
  3. Fork and clone the scraper you're going to work on:
  <pre>
  git clone git@github.com:yourname/example.git
  cd example
  </pre>
  4. verify a composer.json file, verify the php version in this file that matches your system, and type composer update
  5. Run the scraper locally.
